#change-password-tab {
	padding: 64px 24px;
	.change-password-form {
		width: 564px;
		padding: 32px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		gap: 40px;
		border-radius: 16px;
		background-color: white;
	}
	
	#change-password-btn {
		width: 100%;
	}
}