@font-face {
	font-family: 'inter';
	src: url('/assets/fonts/Inter/Inter-VariableFont_opsz_wght.ttf');
}

@font-face {
	font-family: 'interItalic';
	src: url('/assets/fonts/Inter/Inter-Italic-VariableFont_opsz_wght.ttf');
}

:root {
	--primary-color: #ff6b00;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'inter', sans-serif;
	/* font family: roboto */
	font-size: 16px;
	/* Using rem for font-size in children elements */
	background-color: #f5f5f5;
	position: relative;
}

.error-message {
	color: red;
	font-size: .9rem;
	margin-top: 4px;
}

.brand {
	background: url('/assets/icons/brandIcon.svg');
	background-size: 106px 61px;
	background-repeat: no-repeat;
	width: 106px;
	height: 61px;
}

.bag-icon {
	background: url('/assets/icons/bagIcon.svg');
	background-size: 24px 24px;
	background-position: center;
	width: 44px;
	height: 44px;
	background-repeat: no-repeat;
	background-color: #FAFBFC;
	border: 1px solid #CED4DA;
}