@font-face {
	font-family: 'inter';
	src: url('/assets/fonts/Inter/Inter-VariableFont_opsz_wght.ttf');
}

@font-face {
	font-family: 'interItalic';
	src: url('/assets/fonts/Inter/Inter-Italic-VariableFont_opsz_wght.ttf');
}

:root {
	--primary-color: #ff6b00;
	--common-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'inter', sans-serif;
	/* font family: roboto */
	font-size: 16px;
	/* Using rem for font-size in children elements */
	background-color: #f5f5f5;
	position: relative;
}

.error-message {
	color: red;
	font-size: .9rem;
	margin-top: 4px;
}

.brand {
	background: url('/assets/icons/brandIcon.svg');
	background-size: 106px 61px;
	background-repeat: no-repeat;
	width: 106px;
	height: 61px;
}

.bag-icon {
	background: url('/assets/icons/bagIcon.svg');
	background-size: 24px 24px;
	background-position: center;
	width: 44px;
	height: 44px;
	background-repeat: no-repeat;
	background-color: #FAFBFC;
	border: 1px solid #CED4DA;
}

.line {
	width: 100%;
	border: 1px solid #ccc;
	margin: 16px 0;		
}

/* Navigation tab */
.navigation-tabs {
	display: flex;

	.navigation-item {
		flex: 1;
		display: flex;
		justify-content: center;

		button {
			width: 100%;
			height: 100%;
			padding: 10px 0;
			font-size: 1rem;
			outline: none;
			border: none;
			background: transparent;

			&:hover {
				cursor: pointer;
			}
		}

		&.active {

			border-bottom: 2px solid var(--primary-color);

			button {
				color: var(--primary-color);
			}
		}
	}
	
}

.tab-contents {
		.tab-content-item {
			display: none;
			&.show {
				display: block;
			}
		}
	}

/* Mobile portrait (vertical) */
@media all and (max-width: 480px) {
	/* smartphones (vertical + horizontal) */
	.brand {
			display: none;
	}
	
	header {
		background: white;
	}
	
	header nav {
		.nav-wrapper {
			width: 100% !important;
			
		}
	}


}

/* Tablet portrait (vertical) */
@media all and (min-width: 481px) and (max-width: 768px) {
	/* iPad vertical, small tablet */

	header nav {
		.nav-wrapper {
			width: 100%;
			
		}
	}
	
	.brand {
		display: none;
	}
	
	.searching-input-container {
		width: 100%;
		
	}

}

/* Tablet landscape (horizontal) */
@media all and (min-width: 769px) and (max-width: 1024px) {

	/* iPad horizontal, large tablet */

}

/* Small laptop */
@media all and (min-width: 1025px) and (max-width: 1280px) {
	/* Ventricular resolution laptop */

	/* iPad horizontal, large tablet */

}

/* Large laptop / desktop */
@media all and (min-width: 1281px) {}