@font-face {
	font-family: 'SVN-Dumpling';
	src: url('/assets/fonts/SVN-Dumpling/SVN-Dumpling1.otf');
}

:root {
	--header-height: 308px;
	--search-box-height: 132px;
	--tabs-section-height: 124px;
	--list-view-items-per-row: 2;
	--list-view-item-gap: 24px;
	
}

body {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

/* Header START */
header {
	background: url('/assets/images/headerBackground1.png');
	background-repeat: no-repeat;
	height: var(--header-height);
	background-size: 100vw calc(var(--header-height) + 38px);
	&.scrolled {
		background: #fff !important;
		transition: background 1s ease;
	}

	nav {
		width: 100%;
		height: var(--header-nav-height, 92px);
		display: flex;
		justify-content: center;
		border-bottom: 0.33px solid #CED4DA;

		.nav-wrapper {
			display: flex;
			width: var(--section-container-width);
			justify-content: space-between;
			align-items: center;
		}
	}
}

.cart-btn-wrapper {

	position: relative;
	transition: display 1s ease-in;

	&:hover {
		cursor: pointer;
	}

	&.has-items {

		.badge {
			display: block;
		}

		.bag-icon {
			display: none;
		}

		.price-wrapper {
			display: flex;
		}
	}

	.price-wrapper {
		padding: 0 10px;
		display: none;
		align-items: center;
		background-color: var(--primary-color);
		border-radius: 4px;

		.price-total {
			font-size: 1rem;
			font-weight: 400;
			color: white;
		}
	}

	.badge {
		position: absolute;
		top: -10px;
		left: -10px;
		height: 18px;
		min-width: 18px;
		z-index: 2;
		padding: 4px 5px;
		display: none;
		color: var(--primary-color);
		border: 1px solid var(--primary-color);
		background-color: white;
		border-radius: 50%;
		font-family: Arial, Helvetica, sans-serif;
		font-size: .75rem;
		font-weight: 700;
		text-align: center;
		line-height: 100%;
	}

	.bag-icon {
		background: url('/assets/icons/bagIcon.svg');
		background-size: 24px 24px;
		background-position: center;
		width: 44px;
		height: 44px;
		background-repeat: no-repeat;
		background-color: #FAFBFC;
		border: 1px solid #CED4DA;

	}

	.bag-icon-white {
		background: url('/assets/icons/bagIconWhite.svg');
		background-size: 24px 24px;
		background-position: center;
		width: 44px;
		height: 44px;
		background-repeat: no-repeat;
	}
}



header .question {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	h1 {
		font-family: 'SVN-Dumpling';
		font-weight: 400;
		font-style: Regular;
		font-size: 2.6rem;
		line-height: 120%;
		letter-spacing: 0%;
		text-align: center;
		color: var(--primary-color);

	}
}

/* Header END */

/* Tabs section START */
#tabs-section {
	position: sticky;
	top: calc(var(--header-height) - var(--tabs-section-height));
	margin-left: auto;
	margin-right: auto;
	margin-top: -48px;
	margin-bottom: 32px;
	z-index: 5;
	height: var(--tabs-section-height);
	width: var(--section-container-width);
	background-color: transparent;

	.sort-btn-wrapper {
		display: flex;
		justify-content: flex-end;

		.sort-btn {
			padding: 10px 12px;
			border-radius: 4px;
			font-size: 1rem;
			font-weight: 500;
			background-color: rgb(249, 249, 249);
			border: 1px solid rgba(206, 212, 218, 1);
			outline: none;

			&:hover {
				cursor: pointer;
			}
		}
	}
}

/* Tabs section END */

/* List view section START */
#list-view-section {
	margin-left: auto;
	margin-right: auto;
	margin-top: 36px;
	padding-bottom: 64px;
	width: var(--section-container-width);
}

/* Cart buttons */
.cart-wrapper {
	position: absolute;
	right: 16px;
	bottom: 16px;

	/* add item button */
	.add-item-btn {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		outline: none;
		border: none;
		color: white;
		background-color: var(--primary-color);
		text-align: center;

		&:hover {
			cursor: pointer;
		}
	}

	.cart-group-btn {
		display: none;
		align-items: center;
		gap: 16px;

		.remove-item-btn {
			width: 36px;
			height: 36px;
			border-radius: 50%;
			font-size: 1rem;
			outline: none;
			border: none;
			background-color: rgba(239, 239, 239, 1);
			color: rgba(124, 124, 124, 1);

			&:hover {
				cursor: pointer;
			}
		}

		.cart-action-wrapper {
			height: 36px;
			border-radius: 46px;
			display: flex;
			align-items: center;
			overflow: hidden;
			border: 1px solid var(--primary-color);

			.decrease-item-btn,
			.increase-item-btn {
				width: 32px;
				height: 100%;
				font-size: 1.2rem;
				border: none;
				outline: none;
				color: rgba(152, 152, 152, 1);
				background-color: transparent;

				&:hover {
					cursor: pointer;
				}
			}

			.quantity-input {
				width: 32px;
				height: 100%;
				font-weight: 400;
				font-size: 1rem;
				line-height: 150%;
				text-align: center;
				outline: none;
				border: none;

				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
					margin: none;
				}
			}
		}
	}
}
/* List view END */
/* List view section END */

/* Footer section START */
footer {
	width: 100%;
	padding: 64px 24px 8px 24px;
	background-color: white;
	border-top: 2px solid rgba(206, 212, 218, 1);

	.footer-container {
		margin-left: auto;
		margin-right: auto;
		width: var(--section-container-width);
		display: flex;

		.brand-wrapper {
			flex: 1;
			display: flex;
			align-items: center;

			.large-brand {
				margin-top: auto;
				margin-bottom: auto;
			}
		}

		.company-info {
			flex: 1;

			.contact-group {
				display: flex;
				align-items: center;
			}

			h1,
			h2 {
				font-weight: 700;
				font-size: 0.875rem;
				line-height: 150%;
			}

			h1 {
				text-transform: uppercase;
			}

			h2 {
				width: 4rem;
			}

			h4 {
				font-weight: 400;
				font-size: 0.875rem;
			}
		}


	}

	.copy-right {
		width: var(--section-container-width);
		margin-left: auto;
		margin-right: auto;
		padding: 16px 0;
		text-align: center;
		font-size: .875rem;
	}
}

/* Footer section END */

/* Skeleton Container START */
.skeleton-container {
	margin-top: calc(-1 * var(--header-height));
}

/* Skeleton Container END */

