@font-face {
	font-family: 'SVN-Dumpling';
	src: url('/assets/fonts/SVN-Dumpling/SVN-Dumpling1.otf');
}

:root {
	--header-height: 308px;
	--search-box-height: 132px;
	--tabs-section-height: 124px;
	--list-view-items-per-row: 2;
	--list-view-item-gap: 24px;

}

body {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

/* Header START */
header {
	background: url('/assets/images/headerBackground1.png');
	background-repeat: no-repeat;
	height: var(--header-height);
	background-size: 100vw calc(var(--header-height) + 38px);

	&.scrolled {
		background: #fff !important;
		transition: background 1s ease;
	}

	nav {
		width: 100%;
		height: var(--header-nav-height, 92px);
		display: flex;
		justify-content: center;
		border-bottom: 0.33px solid #CED4DA;

		.nav-wrapper {
			display: flex;
			width: var(--section-container-width);
			justify-content: space-between;
			align-items: center;

			.action-btn-wrapper {
				display: flex;
				gap: 16px;
				padding: 0 16px;
			}
		}
	}
}

.your-order-btn {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 0 10px;
	font-size: 1rem;
	color: var(--primary-color);
	outline: none;
	border: 1px solid var(--primary-color);
	border-radius: 4px;
	background-color: white;

	&:hover {
		cursor: pointer;
	}
}

.cart-btn-wrapper {

	position: relative;
	transition: display 1s ease-in;

	&:hover {
		cursor: pointer;
	}

	&.has-items {

		.badge {
			display: block;
		}

		.bag-icon {
			display: none;
		}

		.price-wrapper {
			display: flex;
		}
	}

	.price-wrapper {
		padding: 0 10px;
		display: none;
		align-items: center;
		background-color: var(--primary-color);
		border-radius: 4px;

		.price-total {
			font-size: 1rem;
			font-weight: 400;
			color: white;
			margin-bottom: 0;
		}
	}

	.badge {
		position: absolute;
		top: -10px;
		left: -10px;
		height: 18px;
		min-width: 18px;
		z-index: 2;
		padding: 4px 5px;
		display: none;
		color: var(--primary-color);
		border: 1px solid var(--primary-color);
		background-color: white;
		border-radius: 50%;
		font-family: Arial, Helvetica, sans-serif;
		font-size: .75rem;
		font-weight: 700;
		text-align: center;
		line-height: 100%;
	}

	.bag-icon {
		background: url('/assets/icons/bagIcon.svg');
		background-size: 24px 24px;
		background-position: center;
		width: 44px;
		height: 44px;
		background-repeat: no-repeat;
		background-color: #FAFBFC;
		border: 1px solid #CED4DA;

	}

	.bag-icon-white {
		background: url('/assets/icons/bagIconWhite.svg');
		background-size: 24px 24px;
		background-position: center;
		width: 44px;
		height: 44px;
		background-repeat: no-repeat;
	}
}



header .question {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	h1 {
		font-family: 'SVN-Dumpling';
		font-weight: 400;
		font-style: Regular;
		font-size: 2.6rem;
		line-height: 120%;
		letter-spacing: 0%;
		text-align: center;
		color: var(--primary-color);

	}
}

/* Header END */

/* Tabs section START */
#tabs-section {
	position: sticky;
	top: calc(var(--header-height) - var(--tabs-section-height));
	margin-left: auto;
	margin-right: auto;
	margin-top: -48px;
	margin-bottom: 32px;
	z-index: 5;
	height: var(--tabs-section-height);
	width: var(--section-container-width);
	background-color: transparent;

	.sort-btn-wrapper {
		display: flex;
		justify-content: flex-end;

		.sort-btn {
			padding: 10px 12px;
			border-radius: 4px;
			font-size: 1rem;
			font-weight: 500;
			background-color: rgb(249, 249, 249);
			border: 1px solid rgba(206, 212, 218, 1);
			outline: none;

			&:hover {
				cursor: pointer;
			}
		}
	}
}

/* Tabs section END */

/* List view section START */
#list-view-section {
	margin-left: auto;
	margin-right: auto;
	margin-top: 36px;
	padding-bottom: 64px;
	width: var(--section-container-width);
}

/* Cart buttons */
.cart-wrapper {
	position: absolute;
	right: 16px;
	bottom: 16px;

	/* add item button */
	.add-item-btn {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		outline: none;
		border: none;
		color: white;
		background-color: var(--primary-color);
		text-align: center;

		&:hover {
			cursor: pointer;
		}
	}

	.cart-group-btn {
		display: none;
		align-items: center;
		gap: 16px;

		.remove-item-btn {
			width: 36px;
			height: 36px;
			border-radius: 50%;
			font-size: 1rem;
			outline: none;
			border: none;
			background-color: rgba(239, 239, 239, 1);
			color: rgba(124, 124, 124, 1);

			&:hover {
				cursor: pointer;
			}
		}

		.cart-action-wrapper {
			height: 36px;
			border-radius: 46px;
			display: flex;
			align-items: center;
			overflow: hidden;
			border: 1px solid var(--primary-color);

			.decrease-item-btn,
			.increase-item-btn {
				width: 32px;
				height: 100%;
				font-size: 1.2rem;
				border: none;
				outline: none;
				color: rgba(152, 152, 152, 1);
				background-color: transparent;

				&:hover {
					cursor: pointer;
				}
			}

			.quantity-input {
				width: 32px;
				height: 100%;
				font-weight: 400;
				font-size: 1rem;
				line-height: 150%;
				text-align: center;
				outline: none;
				border: none;

				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
					margin: none;
				}
			}
		}
	}
}

/* List view END */
/* List view section END */

/* Footer section START */
footer {
	width: 100%;
	padding: 64px 24px 8px 24px;
	background-color: white;
	border-top: 2px solid rgba(206, 212, 218, 1);

	.footer-container {
		margin-left: auto;
		margin-right: auto;
		width: var(--section-container-width);
		display: flex;

		.brand-wrapper {
			flex: 1;
			display: flex;
			align-items: center;

			.large-brand {
				margin-top: auto;
				margin-bottom: auto;
			}
		}

		.company-info {
			flex: 1;

			.contact-group {
				display: flex;
				align-items: center;
			}

			h1,
			h2 {
				font-weight: 700;
				font-size: 0.875rem;
				line-height: 150%;
			}

			h1 {
				text-transform: uppercase;
			}

			h2 {
				width: 4rem;
			}

			h4 {
				font-weight: 400;
				font-size: 0.875rem;
			}
		}


	}

	.copy-right {
		width: var(--section-container-width);
		margin-left: auto;
		margin-right: auto;
		padding: 16px 0;
		text-align: center;
		font-size: .875rem;
	}
}

/* Footer section END */

/* Your order modal START */

#your-order-modal {

	.modal-content {
		height: unset;
		max-height: 90vh;
		overflow-y: hidden;

	}

	.modal-body {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	#order-id {
		font-weight: 900;
	}

	.list-view-item {
		padding: 16px 16px !important;
	}

	.item-quantity-wrapper {
		right: 16px;
		bottom: 16px;
	}
}

#cart-modal {
	.list-view-item {
		padding: 24px 32px !important;
	}
}

/*Icon progressbar*/
#progressbar {
	margin-bottom: 30px;
	color: #455A64;
	padding-left: 0px;
	margin-top: 30px;
	margin-bottom: 48px;
}

#progressbar li {
	list-style-type: none;
	font-size: 13px;
	width: 25%;
	float: left;
	position: relative;
	font-weight: 400;
}

#progressbar li.in-progress {
	color: #17AE30;
}

#progressbar li span {
	font-size: 0.75rem;
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	transform: translateY(100%);

}

#progressbar .step0:before {
	font-family: FontAwesome;
	content: "\f10c";
	color: #fff;
}

#progressbar li:before {
	position: relative;
	z-index: 2;
	width: 1.5rem;
	height: 1.5rem;
	line-height: 1.5rem;
	display: block;
	font-size: 0.8rem;
	background: #C5CAE9;
	border-radius: 50%;
	margin: auto;
	padding: 0px;
}

/*ProgressBar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #C5CAE9;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);

}

#progressbar li:last-child:after {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	position: absolute;
	left: -50%;
}

#progressbar li:nth-child(2):after,
#progressbar li:nth-child(3):after {
	left: -50%;
}

#progressbar li:first-child:after {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	position: absolute;
	left: 50%;
}

#progressbar li:last-child:after {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#progressbar li:first-child:after {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before,
#progressbar li.active:after {
	background: #17AE30;
}

#progressbar li.in-progress:before {
	border: 6.5px solid #17AE30;
	font-size: 0;
	background: white;
	font-weight: 900;
	line-height: 1rem;
}

#progressbar li.cancelled:before {
	border: 6.5px solid rgb(255, 0, 0);
	font-size: 0;
	background: white;
	font-weight: 900;
	line-height: 1rem;
}

#progressbar li.in-progress:after {
	background-color: #17AE30;
}

#progressbar li.cancelled:after {
	background-color: rgb(255, 0, 0);
}

#progressbar li.active:before {
	content: "\f00c";
}

#progressbar li.cancelled:before {
	content: "\f10c";
}

/* Order detail */
.order-details {
/*	overflow-y: scroll;*/

	summary {
		list-style: none;
		margin-bottom: 22px;

		&::-webkit-details-marker {
			display: none;
		}

		position: relative;
	}

	.custom-icon {
		display: inline-block;
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 50%;
		width: 72px;
		height: 24px;
		margin-right: 8px;
		transform: translate(-50%, 50%);
		transition: transform 0.3s ease;
		border-radius: 20px;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		background: url(/assets/icons/detailArrow.svg);
		background-size: 1.2rem;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #fff;
	}
}

.order-details[open] .custom-icon {
	transform: translate(-50%, 50%) rotateX(180deg);
}

/* Your order modal END */

/* Skeleton Container START */
.skeleton-container {
	margin-top: calc(-1 * var(--header-height));
}

/* Skeleton Container END */