

:root {
	--bg-body-color: rgba(20, 39, 39, 0.1);
	--bg-form-color: rgba(255, 255, 255, 0.75);
	--form-left-position: 60vw;
}

* {
	padding: 0;
	margin: 0;
}

*,
::after,
::before {
	box-sizing: border-box;
}

body {
	background-image: url("/assets/images/loginBackground.jpg");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	color: #fff;
	font-family: monospace, serif;
	letter-spacing: 0.05em;
	height: 100vh;
	display: flex;
	align-items: center;
	font-family: Inter;
	font-weight: 500;
	font-style: Medium;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: -2%;

}

.form-label {
	margin-bottom: 44px;
}

.form-label h1 {
	font-size: 23px;
	color: #000;
	font-family: Poppins;
	font-weight: 500;
	font-size: 55px;
	line-height: 100%;
	letter-spacing: 0%;

}

.form {
	display: flex;
	flex-direction: column;
	gap: 32px;
	width: 539px;
	padding: 44px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 40%);
	backdrop-filter: blur(40px);
	border-radius: 8px;

	label {
		color: black
	}

	
	.form-group {
		position: relative;
	}
	
	.control {
		border: 1px solid #ccc;
		background-color: white;
		border-radius: 8px;
		display: flex;
		align-items: center;
		
		i {
			padding: 0 12px;
			color: #7c7c7c
		}
		
		input {
			width: 100%;
			padding: 14px 16px 14px 0;
			border: 0;
			background: transparent;
			color: #333;
			font-family: monospace, serif;
			letter-spacing: 0.05em;
			font-size: 16px;

			&:hover,
			&:focus {
				outline: none;
				border: 0;
			}
		}
	}
	
	.invalid-feedback {
		position: absolute;
		bottom: 0;
		left: 0;
		transform: translateY(100%);
		font-size: 1rem;
		font-weight: 400;
		color: red;
		display: none;
	}

	.btn {
		width: 50%;
		display: block;
		float: right;
		margin-top: 24px;
		padding: 14px 16px;
		background: var(--primary-color);
		outline: none;
		border: 0;
		border-radius: 4px;
		color: #fff;
		letter-spacing: 0.1em;
		font-weight: bold;
		font-family: monospace;
		font-size: 16px;
	}
	
	.line {
		margin: 0;
	}
}

.social-login {
	color: #333;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.social-login__icon {
	font-size: 1.2rem;
	padding: 20px 10px;
	color: #333;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}

/* Tablet landscape (horizontal) */
@media all and (min-width: 769px) and (max-width: 1024px) {
}

/* Small laptop */
@media all and (min-width: 1025px) and (max-width: 1280px) {
	/* Ventricular resolution laptop */

	/* iPad horizontal, large tablet */
	.form {
		position: absolute;
		left: var(--form-left-position);
		width: 400px;
	}

}

/* Large laptop / desktop */
@media all and (min-width: 1281px) {
	.form {
		position: absolute;
		left: var(--form-left-position);
	}
}