<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.foodbooking.mapper.ProvinceMapper">
	<!-- Create new provice -->
	<insert id="saveProvince" 
			useGeneratedKeys="true"
			keyProperty="id"
			parameterType="com.foodbooking.entity.Province"
	>
		INSERT INTO provinces (
			name
		) VALUES (
			#{name}
		)
	</insert>
	
	<!-- Get all provinces -->
	<select id="findAllProvinces"
			resultType="com.foodbooking.entity.Province"
	>
		SELECT
			p.id
			, p.name
		FROM provinces p
	</select>
	
	<!-- Get count item of provinces -->
	<select id="getCount" resultType="int">
		SELECT 
			count(1)
		FROM provinces
	</select>
	
	<!-- Find by province id -->
	<select id="findByProviceId"
			resultType="com.foodbooking.entity.Province"
			parameterType="java.lang.Long"
	>
		SELECT
			p.id
			, p.name
		FROM provinces p
		WHERE
			p.id = #{id}
	</select>
	
	<!-- Delete by province id -->
	<delete id="deleteByProvinceId"
			parameterType="java.lang.Long"
	>
		DELETE FROM provinces
		WHERE
			id=#{id}
	</delete>
</mapper> 
